.footer {
  position: absolute;
  bottom: 0;
  left: 0; right: 0;
  text-align: justify;
  padding: 5px 0;
  .brand {
    margin: 0 30px 0 0;
    .brand__logobox {
      margin: 0 5px 0 0;
    }
  }
}
.footer__copyright,
.footer__address  {
    display: inline-block;
    margin: 0 30px 0 0;
    color: #9c9c9c;
    font: 400 14px Arial, sans-serif;
}
.footer__socials {
  display: inline-block;
  vertical-align: middle;
}
.footer__social-item {
  display: inline-block;
  margin: 0 15px 0 0;
  &:last-child {
    margin: 0;
  }
}
.footer__link {
  display: block;
  width: 25px;
  height: 25px;
}

@each $link in (fb, ig, ok, tw, vk) {
  .footer__link-#{$link} {
    background: url(./../assets/images/#{$link}.png) no-repeat center center;
    &:hover {
      background: url(./../assets/images/#{$link}-hover.png) no-repeat center center;
    }
  }
}
